[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/SpaRcle-Studio/assimp
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/SpaRcle-Studio/fmt
[submodule "libs/nativefiledialog"]
	path = libs/nativefiledialog
	url = https://github.com/SpaRcle-Studio/nativefiledialog-extended
[submodule "libs/rapidyaml"]
	path = libs/rapidyaml
	url = https://github.com/SpaRcle-Studio/rapidyaml.git
[submodule "libs/cppcoro"]
	path = libs/cppcoro
	url = https://github.com/SpaRcle-Studio/cppcoro
