[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/SpaRcle-Studio/assimp
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/SpaRcle-Studio/fmt
[submodule "libs/nativefiledialog"]
	path = libs/nativefiledialog
	url = https://github.com/SpaRcle-Studio/nativefiledialog-extended
[submodule "libs/rapidyaml"]
	path = libs/rapidyaml
	url = https://github.com/SpaRcle-Studio/rapidyaml.git
[submodule "libs/cppcoro"]
	path = libs/cppcoro
	url = https://github.com/SpaRcle-Studio/cppcoro
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/SpaRcle-Studio/zlib.git
[submodule "libs/cpptrace"]
	path = libs/cpptrace
	url = https://github.com/SpaRcle-Studio/cpptrace
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/SpaRcle-Studio/SDL.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/SpaRcle-Studio/json
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/SpaRcle-Studio/curl
[submodule "libs/cmake-git-version-tracking"]
	path = libs/cmake-git-version-tracking
	url = https://github.com/SpaRcle-Studio/cmake-git-version-tracking
[submodule "libs/myhtml"]
	path = libs/myhtml
	url = https://github.com/SpaRcle-Studio/myhtml
[submodule "libs/cssparser"]
	path = libs/cssparser
	url = https://github.com/SpaRcle-Studio/cssparser
[submodule "libs/litehtml"]
	path = libs/litehtml
	url = https://github.com/SpaRcle-Studio/litehtml
